<div class="e8fe284c">
    <div class="title">
        <p>快速导航</p>
        <span>&gt;</span>
    </div>
    <div class="menu-wrap">
        <div class="menu-6166d557">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#m7458">
                        <span>学校简介</span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#m7459">
                        <span>课程设置</span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#m7460">
                        <span>常见问题</span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#m7460">
                        <span>常见问题</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>