<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//m.ieduchina.com/favicon.ico" rel="Shortcut Icon" />
    <meta name="applicable-device" content="mobile">
    <meta name="keywords" content="国际教育,国际学校,教育门户" />
    <meta name="description"
        content="国际教育网是汇集了海内外前沿的国际教育门户网站，涵盖北京、上海、广州、深圳等全国数千家国际学校排名学费及招生报名资讯，为K12家长提供全面升学指导、为孩子提供专业的国际课程、助力备考升学。" />
    <script type="text/javascript" src="//m.ieduchina.com/statics/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="//m.ieduchina.com/statics/m/js/main.js"></script>
    <title>国际教育网 国际化学校门户</title>
    <link rel="stylesheet" href="//m.ieduchina.com/statics/users/css/reset.css">
    <link rel="stylesheet" href="//m.ieduchina.com/statics/css/swiper.min.css">
    <link rel="stylesheet" href="//m.ieduchina.com/statics/users/css/header.css">
    <link rel="stylesheet" href="//m.ieduchina.com/statics/users/css/footer.css">
    <link rel="stylesheet" href="//m.ieduchina.com/statics/users/css/index.css">
    <!--苹果手机-->
    <meta property="og:description"
        content="国际教育网是汇集了海内外前沿的国际教育门户网站，涵盖北京、上海、广州、深圳等全国数千家国际学校排名学费及招生报名资讯，为K12家长提供全面升学指导、为孩子提供专业的国际课程、助力备考升学。" />
    <link rel="apple-touch-icon" href="https://m.ieduchina.com/statics/share.jpg">
    <script type="text/javascript" src="//m.ieduchina.com/statics/w/js/tgFrom.js"></script>
    <script>
        (function () {
            var width = document.documentElement.clientWidth;
            var style = document.createElement("style");
            if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                style.innerHTML = "html{font-size: " + width / 16 + "px !important;}";
            } else {
                style.innerHTML = "html{font-size: " + 750 / 16 + "px !important;width:750px;margin:0 auto;}";
            }
            document.head.appendChild(style);
        })();
    </script>
    <script type="text/javascript">
        // if(!/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) )
        // {
        //     window.location.href="//www.ieduchina.com";
        // }
    </script>

</head>

<body>
    <img src="https://m.ieduchina.com/statics/share.jpg" width="0" height="0" style="display:none;">
    <%=require(`./components/header/index.ejs`)()%>
    <section class="section">
        <div class="banner">
            <div class="banner-bg"></div>
            <div class="swiper-index">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="https://www.ieduchina.com/huodong/202505/2757.html">
                            <div
                                style="background-image: url(https://zhaosheng.ieduchina.com/Upload/File/202505/682adf3d9d9bd.jpg);">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div
                                style="background-image: url(https://zhaosheng.ieduchina.com/Upload/File/202505/682d32c6cec02.jpg);">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.ieduchina.com/huodong/202505/2758.html">
                            <div
                                style="background-image: url(https://zhaosheng.ieduchina.com/Upload/File/202505/682be7320a1af.jpg);">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.ieduchina.com/topic/2025/0316sz/">
                            <div
                                style="background-image: url(https://zhaosheng.ieduchina.com/Upload/File/202503/67e5003e8e78c.png);">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div
                                style="background-image: url(https://zhaosheng.ieduchina.com/Upload/File/202406/667bd10c372dc.png);">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">
                            <div
                                style="background-image: url(https://zhaosheng.ieduchina.com/Upload/File/202406/667bd11a9ecad.png);">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.ieduchina.com/hk/index.html">
                            <div
                                style="background-image: url(https://zhaosheng.ieduchina.com/Upload/File/202311/654da55c539ad.png);">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-index-pagination"></div>
            </div>
        </div>
        <div class="menu">
            <div class="swiper-menu">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="//schoollist.m.ieduchina.com">
                            <img src="//m.ieduchina.com/statics/users/images/ae308f5f.png" alt="找学校">
                            <p>找学校</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="//m.ieduchina.com/topic/shengxue/">
                            <img src="//m.ieduchina.com/statics/users/images/c272e8e6.png" alt="要备考">
                            <p>要备考</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="//m.ieduchina.com/zwhb/">
                            <img src="//m.ieduchina.com/statics/users/images/484d0d28.png" alt="香港升学">
                            <p>中外合办</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="//m.ieduchina.com/huodong/">
                            <img src="//m.ieduchina.com/statics/users/images/e1d8110a.png" alt="看学校">
                            <p>看学校</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="//m.ieduchina.com/camps/index.html">
                            <img src="//m.ieduchina.com/statics/users/images/e545854c.png" alt="夏/冬令营">
                            <p>夏冬令营</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="//m.ieduchina.com/ceping/">
                            <img src="//m.ieduchina.com/statics/users/images/aea61bf6.png" alt="测一测">
                            <p>测一测</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="//m.ieduchina.com/abroad/">
                            <img src="//m.ieduchina.com/statics/users/images/f71f50ce.png" alt="要留学">
                            <p>要留学</p>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="//m.ieduchina.com/videos/index.html">
                            <img src="//m.ieduchina.com/statics/users/images/a059750f.png" alt="看视频">
                            <p>看视频</p>
                        </a>
                    </div>
                </div>
                <div class="swiper-menu-pagination"></div>
            </div>
        </div>
        <div class="schoolcenter">
            <div class="index_title">
                <h2>学校中心</h2>
            </div>
            <ul>
                <li><a href="//m.ieduchina.com/hongkong/"><img src="//m.ieduchina.com/statics/users/images/5f2fa480.png"
                            alt="香港学校中心" /></a></li>
                <li><a href="//m.ieduchina.com/singapore/index.html"><img
                            src="//m.ieduchina.com/statics/users/images/280ea3d2.png" alt="新加坡学校中心" /></a></li>
            </ul>
        </div>
        <div class="todaynews todaynew">
            <div class="index_title">
                <h2>今日热闻</h2>
                <a href="//m.ieduchina.com/school/">
                    <span>更多热闻</span>
                </a>
            </div>
            <ul>
                <li>
                    <a href="//m.ieduchina.com/hongkong/zt/202505/128492.html">
                        <div class="list">
                            <div class="left">
                                <div class="text">
                                    <p><span>家长必看！选科决定孩子未来10年？3分钟看透DSE选科底层逻辑</span></p>
                                </div>
                                <div class="possessor">
                                    <i
                                        style="background-image: url(https://www.ieduchina.com/uploadfile/gzh/202210/166718280294136.jpg);"></i>
                                    <p>香港名校通</p>
                                </div>
                            </div>
                            <div style="background-image: url(//www.ieduchina.com/uploadfile/202505/f13220250523085220.jpg)"
                                class="right"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//m.ieduchina.com/school/education/202505/128518.html">
                        <div class="list">
                            <div class="left">
                                <div class="text">
                                    <p><span>重磅 | 广州暨大港澳子弟学校(英东校区）青藤AP&AL国际课程启动</span></p>
                                </div>
                                <div class="possessor">
                                    <i
                                        style="background-image: url(https://www.ieduchina.com/uploadfile/gzh/202110/163512691354531.jpg);"></i>
                                    <p>广州暨大港澳子弟学校</p>
                                </div>
                            </div>
                            <div style="background-image: url(//www.ieduchina.com/uploadfile/202505/f58120250523090436.jpg)"
                                class="right"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//m.ieduchina.com/shenzhen/education/202505/128451.html">
                        <div class="list">
                            <div class="left">
                                <div class="text">
                                    <p><span>90%的学生无缘深国交，最后都去哪儿了？</span></p>
                                </div>
                                <div class="possessor">
                                    <i
                                        style="background-image: url(https://www.ieduchina.com/uploadfile/gzh/202112/164024959930856.jpg);"></i>
                                    <p>选校砖家</p>
                                </div>
                            </div>
                            <div style="background-image: url(//www.ieduchina.com/uploadfile/202505/f90220250522082844.jpg)"
                                class="right"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//m.ieduchina.com/guangzhou/education/202505/128478.html">
                        <div class="list">
                            <div class="left">
                                <div class="text">
                                    <p><span>June Open Day 六月开放日 | 开启孩子的全球探究之旅</span></p>
                                </div>
                                <div class="possessor">
                                    <i
                                        style="background-image: url(https://www.ieduchina.com/uploadfile/gzh/202110/163512610639298.jpg);"></i>
                                    <p>ISA Tianhe 爱莎天河</p>
                                </div>
                            </div>
                            <div style="background-image: url(//www.ieduchina.com/uploadfile/202505/f33120250523084528.jpg)"
                                class="right"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//m.ieduchina.com/school/dynamics/202505/128495.html">
                        <div class="list">
                            <div class="left">
                                <div class="text">
                                    <p><span>2025-26學年深圳市華美外國語學校（香港部）招生簡章</span></p>
                                </div>
                                <div class="possessor">
                                    <i
                                        style="background-image: url(https://www.ieduchina.com/uploadfile/gzh/201910/157121322229821.jpg);"></i>
                                    <p>深圳市华美外国语学校</p>
                                </div>
                            </div>
                            <div style="background-image: url(//www.ieduchina.com/uploadfile/202505/f19620250523085319.jpg)"
                                class="right"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//m.ieduchina.com/school/education/202505/128505.html">
                        <div class="list">
                            <div class="left">
                                <div class="text">
                                    <p><span>CUHK-Shenzhen Discovery Tour ｜ 十年级学子参与香港中文大学（深圳）一日升学资讯体验活动</span></p>
                                </div>
                                <div class="possessor">
                                    <i
                                        style="background-image: url(https://www.ieduchina.com/uploadfile/toutiao/202206/1655098793.png);"></i>
                                    <p>ASJ 东莞暨大港澳子弟学校</p>
                                </div>
                            </div>
                            <div style="background-image: url(//www.ieduchina.com/uploadfile/202505/f22820250523085639.jpg)"
                                class="right"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//m.ieduchina.com/guangzhou/education/202505/128461.html">
                        <div class="list">
                            <div class="left">
                                <div class="text">
                                    <p><span>喜报 | ASJ学子创作纪录短片入围戛纳电影节</span></p>
                                </div>
                                <div class="possessor">
                                    <i
                                        style="background-image: url(https://www.ieduchina.com/uploadfile/gzh/202110/163512691354531.jpg);"></i>
                                    <p>广州暨大港澳子弟学校</p>
                                </div>
                            </div>
                            <div style="background-image: url(//www.ieduchina.com/uploadfile/202505/f98220250522083323.jpg)"
                                class="right"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//m.ieduchina.com/school/education/202505/128444.html">
                        <div class="list">
                            <div class="left">
                                <div class="text">
                                    <p><span>Empowering Students: Discover ASJ Primary｜赋能学生：探索ASJ小学教育</span></p>
                                </div>
                                <div class="possessor">
                                    <i
                                        style="background-image: url(https://www.ieduchina.com/uploadfile/toutiao/202206/1655098793.png);"></i>
                                    <p>ASJ 东莞暨大港澳子弟学校</p>
                                </div>
                            </div>
                            <div style="background-image: url(//www.ieduchina.com/uploadfile/202505/f84220250522082600.jpg)"
                                class="right"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="videos">
            <div class="index_title">
                <h2>说择校</h2>
                <a href="/videos/index.html">
                    <span>更多视频</span>
                </a>
            </div>
            <ul>
                <li>
                    <a href="/video/435.html ">
                        <img loading="lazy"
                            src="https://www.ieduchina.com/uploadfile/toutiao/202505/1747721905393845.png" alt="">
                        <p>DSE与考校vs内地校？张校长揭秘：港澳子弟学校的3大碾压级优势</p>
                        <div class="tool">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/video/434.html ">
                        <img loading="lazy"
                            src="https://www.ieduchina.com/uploadfile/toutiao/202505/1747721548641991.png" alt="">
                        <p>DSE vs A-Level终极快择！香港双轨名校校长亲曝，选错课程恐无缘港大医科？</p>
                        <div class="tool">
                        </div>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/video/398.html ">
                        <img loading="lazy"
                            src="https://www.ieduchina.com/uploadfile/toutiao/202408/1724816633743697.png" alt="">
                        <p class="title">未来更卓越 威睿达思品牌升级发布会</p>
                    </a>
                </li>
                <li>
                    <a href="/video/367.html ">
                        <img loading="lazy"
                            src="https://www.ieduchina.com/uploadfile/toutiao/202405/1715300840935142.png" alt="">
                        <p class="title">菁华HKDSE校园开放日</p>
                    </a>
                </li>
                <li>
                    <a href="/video/325.html ">
                        <img loading="lazy"
                            src="https://www.ieduchina.com/uploadfile/toutiao/202402/1708830541310148.jpg" alt="">
                        <p class="title">博格思学校2024暖冬之约，共赴下一程美好</p>
                    </a>
                </li>
                <li>
                    <a href="/video/315.html ">
                        <img loading="lazy"
                            src="https://www.ieduchina.com/uploadfile/toutiao/202401/1705373610704532.jpg" alt="">
                        <p class="title">One day in Pegasus！美式高中的一天vlog</p>
                    </a>
                </li>
            </ul>
        </div>

        <div class="schoolnews">
            <div class="index_title">
                <h2>校园活动</h2>
                <a href="//m.ieduchina.com/huodong/">
                    <span>更多活动</span>
                </a>
            </div>
            <ul>
                <li>
                    <a href="//m.ieduchina.com/huodong/202502/2569.html">
                        <div style="background-image: url(https://zhaosheng.ieduchina.com/Upload/File/202502/67a44df11da00.png);"
                            class="left">
                        </div>
                        <div class="right">
                            <h3>【海角传薪 – 文人琴家蔡德允女史】展览</h3>
                            <p><span>分享会</span></p>
                            <div class="bottom">
                                <div class="time">
                                    2025.01.22 周三 </div>
                                <div class="bm">
                                    <button>预约报名</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//m.ieduchina.com/huodong/202505/2757.html">
                        <div style="background-image: url(https://zhaosheng.ieduchina.com/Upload/File/202505/682ade7b85e82.jpg);"
                            class="left">
                        </div>
                        <div class="right">
                            <h3>志愿填报在即！选对赛道，以“热爱”代替“内卷”冲刺世界名校！</h3>
                            <p><span>直播</span></p>
                            <div class="bottom">
                                <div class="time">
                                    2025.05.27 周二 </div>
                                <div class="bm">
                                    <button>预约报名</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//m.ieduchina.com/huodong/202505/2761.html">
                        <div style="background-image: url(https://zhaosheng.ieduchina.com/Upload/File/202505/682c190c0695b.png);"
                            class="left">
                        </div>
                        <div class="right">
                            <h3>昆明世青学校5月29日校园开放日</h3>
                            <p><span>开放日</span></p>
                            <div class="bottom">
                                <div class="time">
                                    2025.05.29 周四 </div>
                                <div class="bm">
                                    <button>预约报名</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//m.ieduchina.com/huodong/202505/2738.html">
                        <div style="background-image: url(https://zhaosheng.ieduchina.com/Upload/File/202505/6819c6111cfb3.png);"
                            class="left">
                        </div>
                        <div class="right">
                            <h3>狄邦KCS国际高中（中荟校区）5月31日校园开放日</h3>
                            <p><span>国际学校活动</span></p>
                            <div class="bottom">
                                <div class="time">
                                    2025.05.31 周六 </div>
                                <div class="bm">
                                    <button>预约报名</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="schooltop">
            <div class="index_title">
                <h2>名校排行榜</h2>
                <a href="//schoollist.m.ieduchina.com">
                    <span>更多学校</span>
                </a>
            </div>
            <ul id="school-list">
                <li>
                    <a href="//schoollist.m.ieduchina.com/school/ykpao/">
                        <div style="background-image: url(https://www.ieduchina.com/uploadfile/college/202102/1612148740.jpg);"
                            class="left">
                        </div>
                        <div class="right">
                            <h3>上海包玉刚实验学校</h3>
                            <p><span class='x'>小学</span><span class='c'>初中</span><span class='g'>高中</span></p>
                            <p class="xf">学费：16-21万</p>
                            <div class="bottom">
                                <div class="bm">
                                    <button>入学测试</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//schoollist.m.ieduchina.com/school/szbasissy/">
                        <div style="background-image: url(https://www.ieduchina.com/uploadfile/college/202101/1610608279.jpg);"
                            class="left">
                        </div>
                        <div class="right">
                            <h3>深圳贝赛思双语学校</h3>
                            <p><span class='y'>幼儿园</span><span class='x'>小学</span><span class='c'>初中</span><span
                                    class='g'>高中</span></p>
                            <p class="xf">学费：21.1-29.5万</p>
                            <div class="bottom">
                                <div class="bm">
                                    <button>入学测试</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//schoollist.m.ieduchina.com/school/szbssgjxx/">
                        <div style="background-image: url(https://www.ieduchina.com/uploadfile/college/202101/1610608115.png);"
                            class="left">
                        </div>
                        <div class="right">
                            <h3>深圳贝赛思国际学校</h3>
                            <p><span class='y'>幼儿园</span><span class='x'>小学</span><span class='c'>初中</span><span
                                    class='g'>高中</span></p>
                            <p class="xf">学费：26.4-32.7万</p>
                            <div class="bottom">
                                <div class="bm">
                                    <button>入学测试</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//schoollist.m.ieduchina.com/school/szcie/">
                        <div style="background-image: url(https://www.ieduchina.com/uploadfile/college/202110/1635231974.jpg);"
                            class="left">
                        </div>
                        <div class="right">
                            <h3>深圳国际交流书院</h3>
                            <p><span class='g'>高中</span></p>
                            <p class="xf">学费：27.3-30.3万/年</p>
                            <div class="bottom">
                                <div class="bm">
                                    <button>入学测试</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//schoollist.m.ieduchina.com/school/shphschool/">
                        <div style="background-image: url(https://www.ieduchina.com/uploadfile/college/202004/1586761875.jpg);"
                            class="left">
                        </div>
                        <div class="right">
                            <h3>上海市民办平和学校</h3>
                            <p><span class='x'>小学</span><span class='c'>初中</span><span class='g'>高中</span></p>
                            <p class="xf">学费：9-15万/年</p>
                            <div class="bottom">
                                <div class="bm">
                                    <button>入学测试</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//schoollist.m.ieduchina.com/school/SWIS/">
                        <div style="background-image: url(https://www.ieduchina.com/uploadfile/college/202201/1642486238.jpg);"
                            class="left">
                        </div>
                        <div class="right">
                            <h3>深圳外国语学校国际部</h3>
                            <p><span class='y'>幼儿园</span><span class='x'>小学</span><span class='c'>初中</span><span
                                    class='g'>高中</span></p>
                            <p class="xf">学费：12.14-21.85万</p>
                            <div class="bottom">
                                <div class="bm">
                                    <button>入学测试</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//schoollist.m.ieduchina.com/school/hfgjb/">
                        <div style="background-image: url(https://www.ieduchina.com/uploadfile/college/202102/1612148529.png);"
                            class="left">
                        </div>
                        <div class="right">
                            <h3>华南师范大学附属中学国际部</h3>
                            <p><span class='g'>高中</span></p>
                            <p class="xf">学费：20.8万</p>
                            <div class="bottom">
                                <div class="bm">
                                    <button>入学测试</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//schoollist.m.ieduchina.com/school/keystoneacademy/">
                        <div style="background-image: url(https://www.ieduchina.com/uploadfile/college/202109/1631152153.png);"
                            class="left">
                        </div>
                        <div class="right">
                            <h3>北京市鼎石学校</h3>
                            <p><span class='x'>小学</span><span class='c'>初中</span><span class='g'>高中</span></p>
                            <p class="xf">学费：28万-31.5万</p>
                            <div class="bottom">
                                <div class="bm">
                                    <button>入学测试</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//schoollist.m.ieduchina.com/school/shhrby/">
                        <div style="background-image: url(https://www.ieduchina.com/uploadfile/college/202004/1586485751.png);"
                            class="left">
                        </div>
                        <div class="right">
                            <h3>上海宏润博源学校</h3>
                            <p><span class='c'>初中</span><span class='g'>高中</span></p>
                            <p class="xf">学费：19.5万/年</p>
                            <div class="bottom">
                                <div class="bm">
                                    <button>入学测试</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//schoollist.m.ieduchina.com/school/kwya/">
                        <div style="background-image: url(https://www.ieduchina.com/uploadfile/college/202303/1677740297.jpg);"
                            class="left">
                        </div>
                        <div class="right">
                            <h3>昆明世青学校</h3>
                            <p><span class='x'>小学</span><span class='c'>初中</span><span class='g'>高中</span></p>
                            <p class="xf">学费：8~12万/年</p>
                            <div class="bottom">
                                <div class="bm">
                                    <button>入学测试</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>
            <div class="else">
                <a href="//schoollist.m.ieduchina.com">
                    <button class="clickmore" id="clickmore">查看更多</button>
                </a>
            </div>
        </div>

        <div class="todaynews">
            <div class="index_title">
                <h2>我要读名校</h2>
                <a href="/topic/ruxue/">
                    <span>更多内容</span>
                </a>
            </div>
            <ul>
                <li>
                    <a href="//m.ieduchina.com/zt/202504/127561.html">
                        <div class="list">
                            <div class="left">
                                <div class="text">
                                    <p>全明星阵容！沙田培英、基督教信义元朗、中华基金三大Band1校长都来了！</p>
                                </div>
                                <div class="possessor">
                                    <i
                                        style="background-image: url(https://www.ieduchina.com/uploadfile/gzh/202112/164024959930856.jpg);"></i>
                                    <p>选校砖家</p>
                                </div>
                            </div>
                            <div style="background-image: url(//www.ieduchina.com/uploadfile/202504/f38620250427083400.jpg);"
                                class="right">
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//m.ieduchina.com/zt/202505/127967.html">
                        <div class="list">
                            <div class="left">
                                <div class="text">
                                    <p>不是吧...你竟然还不知道这么多香港名校空降深圳！一年仅此一次！</p>
                                </div>
                                <div class="possessor">
                                    <i
                                        style="background-image: url(https://www.ieduchina.com/uploadfile/gzh/202112/164024959930856.jpg);"></i>
                                    <p>选校砖家</p>
                                </div>
                            </div>
                            <div style="background-image: url(//www.ieduchina.com/uploadfile/202505/f21320250509085614.jpg);"
                                class="right">
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//m.ieduchina.com/zt/202504/127682.html">
                        <div class="list">
                            <div class="left">
                                <div class="text">
                                    <p>外教“大逃亡”，国际学校慌了！下血本高薪挖人！</p>
                                </div>
                                <div class="possessor">
                                    <i
                                        style="background-image: url(https://www.ieduchina.com/uploadfile/gzh/202112/164024959930856.jpg);"></i>
                                    <p>选校砖家</p>
                                </div>
                            </div>
                            <div style="background-image: url(//www.ieduchina.com/uploadfile/202504/f62320250429084537.jpg);"
                                class="right">
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//m.ieduchina.com/zt/202505/127982.html">
                        <div class="list">
                            <div class="left">
                                <div class="text">
                                    <p>直击现场|2025大湾区国际教育名校展圆满落幕！</p>
                                </div>
                                <div class="possessor">
                                    <i
                                        style="background-image: url(https://www.ieduchina.com/uploadfile/gzh/202112/164024959930856.jpg);"></i>
                                    <p>选校砖家</p>
                                </div>
                            </div>
                            <div style="background-image: url(//www.ieduchina.com/uploadfile/202505/f58420250510165736.jpg);"
                                class="right">
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="//m.ieduchina.com/zt/202505/127821.html">
                        <div class="list">
                            <div class="left">
                                <div class="text">
                                    <p>说实话，有了香港身份比“卷”娃有用100倍！</p>
                                </div>
                                <div class="possessor">
                                    <i
                                        style="background-image: url(https://www.ieduchina.com/uploadfile/gzh/202112/164024959930856.jpg);"></i>
                                    <p>选校砖家</p>
                                </div>
                            </div>
                            <div style="background-image: url(//www.ieduchina.com/uploadfile/202505/f50420250506084837.jpg);"
                                class="right">
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="resources">
            <div class="index_title">
                <h2 id="ziyuan">行业资源</h2>
            </div>
            <div class="swiper-resources">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"
                        style="background-image: url(//m.ieduchina.com/statics/w/img/resource_bg1.png?t=1214);">
                        <h2 class="meiti">媒体宣传</h2>
                        <p>通过国际教育网媒体产品、新媒体矩阵、家长社群，和长期深度合作的北上广深主流媒体、教育类门户网站及当地生活论坛，为国际学校/办学团体提供媒体链式传播，达到宣传热度。</p>
                    </div>
                    <div class="swiper-slide"
                        style="background-image: url(//m.ieduchina.com/statics/w/img/resource_bg2.png?t=1214);">
                        <h2 class="pinpai">品牌推广</h2>
                        <p>为学校/办学团体提供品牌提升、招生策划、内容宣传运营，包括PR软文宣传、专题报道、固定位广告、新媒体宣传、行业公关，以及创建院校专属页面，并开通发布账号自行上传招生政策和最新活动信息等服务，为学校招生宣传推荐匹配优质学生。
                        </p>
                    </div>
                    <div class="swiper-slide"
                        style="background-image: url(//m.ieduchina.com/statics/w/img/resource_bg3.png?t=1214);">
                        <h2 class="huiyi">会议组织</h2>
                        <p>为学校/办学团体提供线上论坛、直播间，以及线下教育择校展、校长论坛、机构专场、探校体验等，实现O2O闭环联动，和学校信息的多维展示，促进院校招生转化。</p>
                    </div>
                    <div class="swiper-slide"
                        style="background-image: url(//m.ieduchina.com/statics/w/img/resource_bg4.png?t=1214);">
                        <h2 class="xuexi">学习资源</h2>
                        <p>为国际学校/教师提供全面的K12教学资源信息，覆盖前沿的学科教研资源、课程体系资源、学生学习资源、教学管理系统资源、学术水平评估资源、职业生涯评估资源等。</p>
                    </div>
                    <div class="swiper-slide"
                        style="background-image: url(//m.ieduchina.com/statics/w/img/resource_bg5.png?t=1214);">
                        <h2 class="rencai">人才资源</h2>
                        <p>为学校/办学团体提供国际教育行业人才资源信息，涵盖国内外主流行业人才资源平台，提供定制化人才需求方案。</p>
                    </div>
                    <div class="swiper-slide"
                        style="background-image: url(//m.ieduchina.com/statics/w/img/resource_bg6.png?t=1214);">
                        <h2 class="changdi">场地资源</h2>
                        <p>为学校/办学团体提供合适办学场地（租赁、转让、买卖）信息，促进国际化学校在中国一线城市、二线城市落地办学。</p>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- <link rel="stylesheet" href="//m.ieduchina.com/statics/jieri/2025/yuanxiao/css/index.css?t=fd9714e2"> -->
    <!-- <script type="text/javascript" src="//m.ieduchina.com/statics/jieri/2025/chunjie/js/index.js?t=fd9714e2"></script> -->

    <footer class="footernav">
        <div class="top">
            <div class="tel">
                服务热线
                <a href="tel:4009008515">400-900-8516</a>
            </div>
            <div class="time">
                周一至周日 8:00~21:00
            </div>
        </div>
        <div class="bottom">
            <div class="list">
                <a href="//m.ieduchina.com/service/aboutus.html">关于我们</a>
                <a href="//m.ieduchina.com/service/joinus.html">加入我们</a>
                <a href="//m.ieduchina.com/service/contribution.html">发布文章</a>
                <a href="//m.ieduchina.com/report.html">意见反馈</a>
            </div>
            <p>Copyright@<label id="siteyear">2020</label>,国际教育网 版权所有</p>
            <p>
                <a>粤ICP备2021064228号-2</a>
                &
                <a>粤公网安备44030502002588号</a>
            </p>
        </div>
    </footer>
    <script src="//m.ieduchina.com/statics/w/js/swiper.min.js"></script>
    <script src="//m.ieduchina.com/statics/users/js/layer.js"></script>
    <script src="//m.ieduchina.com/statics/users/js/main.js"></script>
    <script src="//m.ieduchina.com/statics/js/s2hk.js?t=9d16f8ds"></script>

    <!-- <script src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script> -->
    <script type="text/javascript">
        var ShareLink = window.location.href; //默认分享链接
        var ShareImgUrl = "https://m.ieduchina.com/statics/share.jpg"; // 分享图标
        var ShareTitle = "国际教育网 国际化学校门户";//分享标题
        var ShareDesc = "国际教育网是汇集了海内外前沿的国际教育门户网站，涵盖北京、上海、广州、深圳等全国数千家国际学校排名学费及招生报名资讯，为K12家长提供全面升学指导、为孩子提供专业的国际课程、助力备考升学。";//分享描述
        var ajaxurl = "/index.php?m=content&c=ajax&a=get_weixin_sign&t=1748234386";
        var url = location.href.split('#')[0];

        $.ajax({
            type: "post",
            url: ajaxurl,
            data: { url: url },
            cache: false,
            async: false,
            dataType: 'json',
            success: function (data) {
                weixinSign = data;
            }
        });
        //console.log(weixinSign);

        // 微信配置
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: weixinSign.appId, // 必填，公众号的唯一标识
            timestamp: weixinSign.timestamp, // 必填，生成签名的时间戳
            nonceStr: weixinSign.nonceStr, // 必填，生成签名的随机串
            signature: weixinSign.signature,// 必填，签名
            jsApiList: ['updateAppMessageShareData', 'updateTimelineShareData'] // 必填，需要使用的JS接口列表
        });

        wx.checkJsApi({
            jsApiList: ['chooseImage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
            success: function (res) {
                console.log(res);
                // 以键值对的形式返回，可用的api值true，不可用为false
                // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
            }
        });

        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在 页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready 函数中。
        wx.ready(function () {
            console.log("success");
            var shareData = {
                title: ShareTitle,
                desc: ShareDesc,
                link: ShareLink,
                imgUrl: ShareImgUrl
            };

            //自定义“分享给朋友”及“分享到QQ”按钮的分享内容
            wx.updateAppMessageShareData(shareData);
            //自定义“分享到朋友圈”及“分享到QQ空间”按钮的分享内容
            wx.updateTimelineShareData(shareData);

        });
        wx.error(function (res) {
            console.log(res);
        });
    </script>
    <script>
        $(function () {
            //日期
            var d = new Date();
            var siteyear = d.getFullYear();
            $("#siteyear").html(siteyear);
        });
        adLogin();
    </script>
</body>

</html>