<header class="d0ed00cd">
    <div class="logo">
        <a class="logo" href="//schoollist.m.ieduchina.com/school/szcie/">
            <img src="https://www.ieduchina.com/uploadfile/college/201706/1496830251.jpg" height="40" alt="国际教育网">
        </a>
    </div>
    <!-- <a class="fr nav_href" style="margin-right: 2rem" href="//m.ieduchina.com/navigation.html"></a> -->
    <div class="menu-btn">
        <img src="<%=require(`./切图 21.png`)%>" alt="">
    </div>
    <a class="s2hk">繁體</a>
    <nav class="nav_list">
        <ul>
            <li>
                <a href="//schoollist.m.ieduchina.com/school/">国际学校首页</a>
            </li>
            <li>
                <a href="//schoollist.m.ieduchina.com/school/szcie/">学校首页</a>
            </li>
            <li>
                <a href="//schoollist.m.ieduchina.com/school/szcie/about.html">学校简介</a>
            </li>
            <li class="active">
                <a href="//schoollist.m.ieduchina.com/school/szcie/high.html">国际高中</a>
            </li>
            <li>
                <a href="//schoollist.m.ieduchina.com/school/szcie/admissions.html">招生简章</a>
            </li>
            <li>
                <a href="//schoollist.m.ieduchina.com/school/szcie/pic.html">校园环境</a>
            </li>
            <li>
                <a href="//schoollist.m.ieduchina.com/school/szcie/teacher.html">师资团队</a>
            </li>
            <li>
                <a href="//schoollist.m.ieduchina.com/school/szcie/news/index.html">新闻动态</a>
            </li>
            <li>
                <a href="//m.ieduchina.com/school/szcie/ask.html">在线答疑</a>
            </li>
        </ul>
    </nav>
</header>