<div class="hot-829ad630">
    <p>热门搜索</p>
    <div class="list">
        <a href="/?searchkey=清华大学">清华大学</a>
        <a href="/?searchkey=新加坡国立大学">新加坡国立大学</a>
        <a href="/?searchkey=清华大学">清华大学</a>
        <a href="/?searchkey=曼彻斯特大学">曼彻斯特大学</a>
        <a href="/?searchkey=清华大学">清华大学</a>
        <a href="/?searchkey=上海">上海</a>
    </div>
</div>