<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="applicable-device" content="mobile">
    <meta http-equiv="Content-Security-Policy" content="form-action 'self' *.ieduchina.com;">
    <link href="//m.ieduchina.com/favicon.ico" rel="Shortcut Icon" />
    <link rel="stylesheet" href="//m.ieduchina.com/statics/css/swiper.min.css">
    <link rel="stylesheet" href="//m.ieduchina.com/statics/m/css/main.css">
    <link rel="stylesheet" href="//m.ieduchina.com/statics/m/css/university.css" />
    <script type="text/javascript" src="//m.ieduchina.com/statics/js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="//m.ieduchina.com/statics/js/fastclick.js"></script>
    <script type="text/javascript" src="//m.ieduchina.com/statics/m/js/main.js"></script>
    <link rel="stylesheet" href="//m.ieduchina.com/statics/m/css/school_apply.css" />
    <title>万科梅沙书院当老师是怎样的体验？-国际教育网</title>
    <meta name="keywords" content="万科梅沙书院" />
    <meta name="description" content="我绝对不推荐来这里！老师就像幼儿园的孩子一样！如果你开会迟到，即使你有正当理由，也会被要求在微信群里发红包。这里有很多会议。例如，你会被要求在周末参加专业培训，而你的周末会被搞砸！" />
    <link rel="stylesheet" href="//m.ieduchina.com/statics/m/css/activity.css">
    <link rel="stylesheet" href="//m.ieduchina.com/statics/w/css/common.css">
    <script type="text/javascript" src="//m.ieduchina.com/statics/w/js/common.js"></script>
    <link rel="stylesheet" href="//m.ieduchina.com/statics/users/css/oldfooter.css">
    <link rel="stylesheet" href="//m.ieduchina.com/statics/users/css/oldheader.css">
    <!--苹果手机-->
    <meta property="og:description" content="我绝对不推荐来这里！老师就像幼儿园的孩子一样！如果你开会迟到，即使你有正当理由，也会被要求在微信群里发红包。这里有很多会议。例如，你会被要求在周末参加专业培训，而你的周末会被搞砸！" />
        <link rel="apple-touch-icon" href="https://www.ieduchina.com/uploadfile/202004/y1587700716825.jpg">
    
    <script type="text/javascript" src="//m.ieduchina.com/statics/w/js/tgFrom.js"></script>
        <script type="text/javascript">
        if(!/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) )
        {
            // window.location.href="//www.ieduchina.com/shenzhen/education/201904/24015.html";
        }
    </script>
    </head>

<body>
<img src="https://www.ieduchina.com/uploadfile/202004/y1587700716825.jpg" width="0" height="0" style="display:none;">
<header class="headernav">
    <div id="wap_ad_top">
    <script type="text/javascript">
        adCommon('wap_ad_top');
    </script>
</div>
<%=require(`./components/header/index.ejs`)()%>
<link rel="stylesheet" href="//m.ieduchina.com/statics/css/share.css" />
<link rel="stylesheet" href="//m.ieduchina.com/statics/layui/css/layui.css" />
<link rel="stylesheet" href="//m.ieduchina.com/statics/m/css/comment.css" />
<script src="//m.ieduchina.com/statics/m/js/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="//m.ieduchina.com/statics/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="//m.ieduchina.com/statics/layui/city_layui.js" type="text/javascript" charset="utf-8"></script>
<script src="//m.ieduchina.com/statics/m/js/comment.js" type="text/javascript" charset="utf-8"></script>
<!--视频播放 start-->
<script src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.4/tcplayer.v4.5.4.min.js"></script>
<link href="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.4/tcplayer.min.css" rel="stylesheet"/>
<!--视频播放 end-->

<nav class="about_nav">
    <a href="//m.ieduchina.com">首页</a><span>&gt;</span><a href='//m.ieduchina.com/shenzhen/' target='_blank'>深圳</a><span>&gt;</span>    <a href="javascript:void(0);" class="navContent">正文</a>
</nav>

<section class="detail_content">
    <div id="wap_ad_news" style="margin: 0 0 10px 0;">
    <script type="text/javascript">
        adCommon('wap_ad_news');
    </script>
</div>

<div id="ad_news_banner">
    <script type="text/javascript">
        adCommon('ad_news_banner');
    </script>
</div>
    <h2>万科梅沙书院当老师是怎样的体验？</h2>
    <div class="a79d">
                <div class="f846">
            <a href="//m.ieduchina.com/home/2127.html" target="_blank">
                <img src="https://www.ieduchina.com/uploadfile/gzh/201802/151756671815120.jpg" height="44" width="44">
            </a>
            <p class="c260">
                <a href="//m.ieduchina.com/home/2127.html" target="_blank" rel="nofollow">成长的忧伤</a>
                            </p>
        </div>
        <div class="dc47">
          <p>2019-04-09</p>
          <div class="rightbtn">
                        <span class="attention-btn remove" id="attention-btn" name="42,2127" onclick="guanzhu(42,2127)">关注</span>
                      </div>
        </div>
            </div>
    <div class="detail_words">
        
        <p>Past VMA teacher here</p><p><br/></p><p>I definitely DO NOT recommend coming here!</p><p><br/></p><p>Teachers are treated like kindergarten kids! You will be asked to give red packets in WeChat groups if you are late for meetings, even if you have valid reasons. A lot of meetings going on here. For example, you will be asked to attend professional training during weekends, and your weekends will be screwed!</p><p><br/></p><p>Students are not as great in a certain context. Sometimes there will be only three students in your classroom if your class is in the first period. What&#39;s more, principals have no sense about what they are doing, but VMA is so good at advertising, so they try to cover things up. Sexual harassment happens frequently (just as other faculties comment below).</p><p><br/></p><p>Overall, most students do not like VMA. Most teachers do not like it either because you will be treated differently based on your race, gender, and nationality.&nbsp;</p><p><br/></p><p>Good luck everyone!</p><p><br/></p>        <div class="concat_img"><img src="//m.ieduchina.com/statics/m/images/945758b7.png?t=222" alt=""></div>
        <div class="total">
        <span>
            <a href="//m.ieduchina.com/login.html" rel="nofollow"><i class="f"></i>发文</a>
        </span>
        <span class="thumbs-up-new">
            <a><i class="d"></i>0</a></span>
        <span class="showcomment">
            
            <a><i class="p"></i>评论</a>
        </span>
        <!-- <span>
            <a href="https://www.ieduchina.com/service/tousu.html" rel="nofollow"><i class="j"></i>举报</a>
        </span> -->
        </div>
		<p style="color:#919191;font-size:13px;margin-bottom:10px;">
		            声明：本文内容为国际教育号作者发布，不代表国际教育网的观点和立场，本平台仅提供信息存储服务。
	   		   	</p>
    </div>

    
	
                <div class="school-message">
        <a href="//schoollist.m.ieduchina.com/school/vma/" target="_blank">
            <div class="top">
                <div class="school-logo" style="background-image: url(https://www.ieduchina.com/uploadfile/college/201808/1533632770.jpg);"></div>
                <h2>万科梅沙书院</h2>
            </div>
        </a>
        <div class="label"><a class="g">高中</a></div>
                <p>课程设置：AP,Alevel,国际艺术</p>
                        <p>学费区间：24.8-29万/年</p>
                <div class="btn">
            <button type="button" class="mask-btn">预约看校</button>
            <button type="button">
                <a href="tel:4009008516">申请入读</a>
            </button>
        </div>
    </div>
            
    <div id="news_ewm">
        <script type="text/javascript">
            adCommon('news_ewm');
        </script>
    </div>

    <section class="m-top">
    <div class="list_wrap form_wrap" id="forms">
        <h3>快速匹配适合您孩子的学校</h3>
        <p class="miao">全国500所国际学校大全 / 3分钟匹配5-8所 / 1年名校升学备考托管服务</p>
        <form action="" id="apply">
            <input type="hidden" value="24015" name="newsid"  />
            <input type="text" placeholder="孩子中文姓名" id="name">
            <select name="grade" id="grade">
                <option value="0">就读年级</option>
                <option value="一年级">一年级</option>
                <option value="二年级">二年级</option>
                <option value="三年级">三年级</option>
                <option value="四年级">四年级</option>
                <option value="五年级">五年级</option>
                <option value="六年级">六年级</option>
                <option value="七年级">七年级</option>
                <option value="八年级">八年级</option>
                <option value="九年级">九年级</option>
                <option value="十年级">十年级</option>
                <option value="十一年级">十一年级</option>
                <option value="十二年级">十二年级</option>
                <option value="大一">大一</option>
                <option value="大二">大二</option>
                <option value="大三">大三</option>
                <option value="大四">大四</option>
                <option value="已毕业">已毕业</option>
            </select>
            <input type="text" placeholder="意向学校"  name="want_school" id="want_school">
            <div class="searchschool"></div>
            <input type="text" placeholder="手机号码"  name="mobile"      id="mobile">
                        <input type="hidden" value="国际教育网文章详情页WAP版_WAP文章id:24015" name="mark" id="mark" />
                        <p class="err"></p>
            <a href="javascript:;" id="form_btn">立即匹配</a>
        </form>
    </div>
</section>
<div id="func" style="display:none;position: fixed;top:50%;left: 50%;transform: translate(-50%,-50%);
	padding:.5rem 1rem;background:rgba(0,0,0,0.5);color:#fff;font-size:.64rem;border-radius: 5px;z-index:1111;
	">
</div>
<script type="text/javascript" src="//m.ieduchina.com/statics/m/js/sub.js"></script>
<script type="text/javascript" src="//m.ieduchina.com/statics/semgn/js/city.js"></script>

    <!--评论-->
            
</section>

<!--最新-->
<div class="news container bt0">
    <div class="tlt_box">
        <h2 class="tltLog">家长关注</h2>
    </div>
    <div class="news_list">
        <ul>
                                    <li>
                <div class="news_cont ">
                    <a href="//m.ieduchina.com/huodong/202410/2368.html">
                        <div class="news_title">广州市斐特思学校11月9日校园开放日</div>
                    </a>
                    <div class="news_info">
                        <span>11月09日 周六</span>
                    </div>
                </div>
                <a href="//m.ieduchina.com/huodong/202410/2368.html">
                    <img class="news_img" src="https://zhaosheng.ieduchina.com/Upload/File/202410/6715f21988066.png" alt="广州市斐特思学校11月9日校园开放日" />
                </a>
            </li>
                        <li>
                <div class="news_cont ">
                    <a href="//m.ieduchina.com/huodong/202410/2376.html">
                        <div class="news_title">灣區校長說-香港大中小幼教育概覽</div>
                    </a>
                    <div class="news_info">
                        <span>11月09日 周六</span>
                    </div>
                </div>
                <a href="//m.ieduchina.com/huodong/202410/2376.html">
                    <img class="news_img" src="https://zhaosheng.ieduchina.com/Upload/File/202410/67187463cdf27.jpg" alt="灣區校長說-香港大中小幼教育概覽" />
                </a>
            </li>
                        <li>
                <div class="news_cont ">
                    <a href="//m.ieduchina.com/huodong/202410/2378.html">
                        <div class="news_title">香港直资学校联展2025</div>
                    </a>
                    <div class="news_info">
                        <span>11月09日 周六</span>
                    </div>
                </div>
                <a href="//m.ieduchina.com/huodong/202410/2378.html">
                    <img class="news_img" src="https://zhaosheng.ieduchina.com/Upload/File/202410/6718b0b1969c7.png" alt="香港直资学校联展2025" />
                </a>
            </li>
                        <li>
                <div class="news_cont ">
                    <a href="//m.ieduchina.com/huodong/202410/2383.html">
                        <div class="news_title">达罗捷派高中部11月9日校园开放日</div>
                    </a>
                    <div class="news_info">
                        <span>11月09日 周六</span>
                    </div>
                </div>
                <a href="//m.ieduchina.com/huodong/202410/2383.html">
                    <img class="news_img" src="https://zhaosheng.ieduchina.com/Upload/File/202410/671f37830baa8.png" alt="达罗捷派高中部11月9日校园开放日" />
                </a>
            </li>
                        
                                                <li>
                <div class="news_cont news_one_img">
                    <a href="//m.ieduchina.com/shenzhen/education/202411/121417.html">
                        <div class="news_title">一文带您了解万科梅沙书院</div>
                    </a>
                    <div class="news_info">
                        <a href="//m.ieduchina.com/home/14138.html">万科梅沙书院</a>
                        <span>· 11月01日</span>
                    </div>
                </div>
                                <a href="//m.ieduchina.com/shenzhen/education/202411/121417.html">
                    <img class="news_img" src="//www.ieduchina.com/uploadfile/202411/f94620241101083606.jpg" alt="一文带您了解万科梅沙书院" />
                </a>
                            </li>
                        <li>
                <div class="news_cont news_one_img">
                    <a href="//m.ieduchina.com/shenzhen/education/202410/117115.html">
                        <div class="news_title">万科梅沙书院春季插班生报名细则</div>
                    </a>
                    <div class="news_info">
                        <a href="//m.ieduchina.com/home/14138.html">万科梅沙书院</a>
                        <span>· 10月14日</span>
                    </div>
                </div>
                                <a href="//m.ieduchina.com/shenzhen/education/202410/117115.html">
                    <img class="news_img" src="//www.ieduchina.com/uploadfile/202410/f47720241014081340.jpg" alt="万科梅沙书院春季插班生报名细则" />
                </a>
                            </li>
                        <li>
                <div class="news_cont news_one_img">
                    <a href="//m.ieduchina.com/shenzhen/education/202409/116720.html">
                        <div class="news_title">万科梅沙书院开放日、体验课报名开启！中秋游园会、平面艺术展精彩纷呈</div>
                    </a>
                    <div class="news_info">
                        <a href="//m.ieduchina.com/home/14138.html">万科梅沙书院</a>
                        <span>· 9月29日</span>
                    </div>
                </div>
                                <a href="//m.ieduchina.com/shenzhen/education/202409/116720.html">
                    <img class="news_img" src="//www.ieduchina.com/uploadfile/202409/f98720240929082839.jpg" alt="万科梅沙书院开放日、体验课报名开启！中秋游园会、平面艺术展精彩纷呈" />
                </a>
                            </li>
                                            </ul>
    </div>
</div>



<!-- 底部弹框 -->
<div class="comment-box">
    <div class="comment-conent">
        <form>
            <input type="hidden" name="newsid" value="24015" id="newsid" />
            <div class="textarea">
                <textarea class="z-textarea" name="content" placeholder="请输入评论"></textarea>
            </div>
            <div class="comment-bottom">
                <button type="button"  id="zpublish">发表评论</button>
            </div>
        </form>
    </div>
</div>

<!--学校-->
<div id="asd" class="mask">
    <div class="biaodan">
        <span id="closebm" class="close"></span>
        <h2 class="title">预约看校</h2>
        <form>
            <input type="hidden" mark="mark" value="国际教育网WAP版">
            <div class="xh">
                <label>
                    <span><a>*</a>姓名</span>
                    <input class="username" nullmsg="请输入学生姓名" name="name" type="text" placeholder="请输入姓名">
                </label>
            </div>
            <div class="xh">
                <label>
                    <span><a>*</a>年级</span>
                    <select class="black" name="grade" nullmsg="请选择在读年级" style="color: rgb(102, 102, 102);">
                        <option value="" disabled="" selected="" style="display: none; color: rgb(0, 0, 0);">请选择在读年级</option>
                        <option value="幼儿" style="color: rgb(0, 0, 0);">幼儿</option>
                        <option value="一年级" style="color: rgb(0, 0, 0);">一年级</option>
                        <option value="二年级" style="color: rgb(0, 0, 0);">二年级</option>
                        <option value="三年级" style="color: rgb(0, 0, 0);">三年级</option>
                        <option value="四年级" style="color: rgb(0, 0, 0);">四年级</option>
                        <option value="五年级" style="color: rgb(0, 0, 0);">五年级</option>
                        <option value="六年级" style="color: rgb(0, 0, 0);">六年级</option>
                        <option value="初一" style="color: rgb(0, 0, 0);">初一</option>
                        <option value="初二" style="color: rgb(0, 0, 0);">初二</option>
                        <option value="初三" style="color: rgb(0, 0, 0);">初三</option>
                        <option value="高一" style="color: rgb(0, 0, 0);">高一</option>
                        <option value="高二" style="color: rgb(0, 0, 0);">高二</option>
                        <option value="高三" style="color: rgb(0, 0, 0);">高三</option>
                        <option value="其他" style="color: rgb(0, 0, 0);">其他</option>
                    </select>
                </label>
            </div>
            <div class="xh">
                <label>
                    <span><a>*</a>城市</span>
                    <div class="address msgnull">请选择在读城市</div>
                    <input class="addresspreinput" type="hidden" nullmsg="请选择在读省份" name="province" value="">
                    <input class="addresscityinput" type="hidden" nullmsg="请选择在读城市" name="city" value="">
                </label>
            </div>
            <div class="xh">
                <label>
                    <span><a>*</a>电话</span>
                    <input type="text" name="mobile" nullmsg="请输入家长电话" errormsg="请输入正确的家长电话" datatype="m" class="username" placeholder="请输入家长电话">
                </label>
            </div>
            <p class="error-tips"></p>
            <input type="hidden" name="want_school" value="" />
            <input type="hidden" name="mark"  value="国际教育网WAP版"/>
            <input type="hidden" value="WAP文章id:24015" name="sem"  />
            <a errormsg="提交失败，请稍后再试" successmsg="提交成功" class="save _sibmit form_btn">提交</a>
        </form>
    </div>
</div>
<div class="preWrap">
    <div class="list2">
        <div class="ulWrap prew">
            <ul class="pre"></ul>
        </div>
        <div class="ulWrap cityw">
            <ul class="city"></ul>
        </div>
    </div>
</div>
<script src="//m.ieduchina.com/statics/m/js/news_school.js" type="text/javascript"></script>
<script src="//m.ieduchina.com/statics/js/zepto.min.js" type="text/javascript"></script>
<script>
    $(function(){
        $(".fontControls").click(function(){
            if($(".detail_words").hasClass("fonts16")){
                $(".detail_words").removeClass("fonts16");
                $(this).html('A+');
            }else{
                $(".detail_words").addClass("fonts16");
                $(this).html('A-');
            }
        });
        $(".lookAll").click(function(){
            $a = $('#content2');
            $a.show();
            $(this).hide();
        });
    })
</script>
<script type="text/javascript">
function removeSpace(ele) 
{
	$(ele).each(function(){
		$(this).html($.trim($(this).html()));
	});
}
removeSpace(".detail_content p");
removeSpace(".detail_content p strong");

//详情页-加载学校广告
$(function(){

    var res=$('#newsid').length;
    if(res>0)
    {
        var newsid="24015";
        var url="/index.php?m=content&c=ajax&a=count&id="+newsid;
        $.post(url,{'do':1},function(res){});
    }
});  
</script>
<script type="text/javascript" src="//m.ieduchina.com/statics/js/user_center.js"></script>
<script>
    $(function(){
        /*处理微信内置浏览器长按识别二维码bug*/
        var timeOutEvent=0;
        $(".erweima img").on('touchstart',function(){
            var _this = $(this);
            _this.siblings('img').css('visibility','hidden');
            //1s后自动恢复显示
            setTimeout(function(){
                _this.siblings('img').css('visibility','visible');
                timeOutEvent2 = 0;
            },1000);
        });
    });
</script>

<footer class="footernav">
    <div class="top">
        <div class="tel">
            服务热线
            <a href="tel:4009008515">400-900-8516</a>
        </div>
        <div class="time">
            周一至周日 8:00~21:00
        </div>
    </div>
    <div class="bottom">
        <div class="list">
            <a href="//m.ieduchina.com/service/aboutus.html">关于我们</a>
            <a href="//m.ieduchina.com/service/joinus.html">加入我们</a>
            <a href="//m.ieduchina.com/service/contribution.html">发布文章</a>
            <a href="//m.ieduchina.com/report.html">意见反馈</a>
        </div>
        <p>Copyright@<label id="siteyear">2022</label>,国际教育网 版权所有</p>
        <p>
            <a>粤ICP备2021064228号</a>
            &
            <a>粤公网安备44030502002588号</a>
        </p>
    </div>
</footer>

<script src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script type="text/javascript">
    var ShareLink=window.location.href; //默认分享链接
    var ShareImgUrl = "https://www.ieduchina.com/uploadfile/202004/y1587700716825.jpg"; // 分享图标
    var ShareTitle = "万科梅沙书院当老师是怎样的体验？-国际教育网";//分享标题
    var ShareDesc = "我绝对不推荐来这里！老师就像幼儿园的孩子一样！如果你开会迟到，即使你有正当理由，也会被要求在微信群里发红包。这里有很多会议。例如，你会被要求在周末参加专业培训，而你的周末会被搞砸！";//分享描述
    var ajaxurl = "/index.php?m=content&c=ajax&a=get_weixin_sign&t=1731141602";
    var url = location.href.split('#')[0];

    $.ajax({
        type : "post",
        url : ajaxurl,
        data : {url:url},
        cache : false,
        async : false,
        dataType : 'json',
        success : function(data) {
            weixinSign = data;
        }
    });
    //console.log(weixinSign);

    // 微信配置
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: weixinSign.appId, // 必填，公众号的唯一标识
        timestamp: weixinSign.timestamp, // 必填，生成签名的时间戳
        nonceStr: weixinSign.nonceStr, // 必填，生成签名的随机串
        signature: weixinSign.signature,// 必填，签名
        jsApiList: ['updateAppMessageShareData', 'updateTimelineShareData'] // 必填，需要使用的JS接口列表
    });

    wx.checkJsApi({
        jsApiList: ['chooseImage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
        success: function(res) {
            console.log(res);
            // 以键值对的形式返回，可用的api值true，不可用为false
            // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
        }
    });

    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在 页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready 函数中。
    wx.ready(function() {
        console.log("success");
        var shareData = {
            title: ShareTitle,
            desc: ShareDesc,
            link: ShareLink,
            imgUrl: ShareImgUrl
        };

        //自定义“分享给朋友”及“分享到QQ”按钮的分享内容
        wx.updateAppMessageShareData(shareData);
        //自定义“分享到朋友圈”及“分享到QQ空间”按钮的分享内容
        wx.updateTimelineShareData(shareData);

    });
    wx.error(function(res) {
        console.log(res);
    });
</script>
<script src="//m.ieduchina.com/statics/js/jquery-1.8.0.min.js"></script>
<script src="//m.ieduchina.com/statics/js/s2hk.js?t=9d16f9ds"></script>
<script>
    function lookMore(p) {
        window.location.href=p;
    }
    function lookAjaxMore(p) {
        var url = $(p).attr('data-href');
        var page = $(p).attr('data-page');
        console.log(url);
        $.post(url, {page: page},
            function (result) {
                $(p).attr('data-page',result.page);
                if (result.showHtml) {
                    $(p).siblings(".news_list").children('ul').append(result.showHtml);
                }else {
                    $(p).html('加载完毕');
                }
            },'json');
    }



    function lookSceneMore(p) {
        var url = $(p).attr('data-href');
        var page = $(p).attr('data-page');
        $.post(url, {page: page},
            function (result) {
                $(p).attr('data-page',result.page);
                if (result.showHtml) {
                    $(p).parent('.pic_item').children('div').append(result.showHtml);
                }else {
                    $(p).html('加载完毕');
                }
            },'json');
    }


    function submitform() {
        $('#formsearch').submit();
    }

    //关注-收藏
    $(function(){
        var guanzhu=$("#attention-btn").length;
        if(guanzhu)
        {
            var val=$("#attention-btn").attr('name');
            guanzhu_first(val);
        }
        var collect=$("#collect").length;
        if(collect)
        {
            var val=$("#collect").attr('name');
            collect_first(val);
        }

        //日期
        var d = new Date();
        var siteyear = d.getFullYear();
        $("#siteyear").html(siteyear);

        if($(".school_nav").height() > 50 && $(".fold_nav").length == 0) {
            $(".school_nav").css({"height": "auto"})
        }

		//更多
        if($(".fold_nav").length > 0) {
            $(".fold_nav").on("click", function () {
                if ($(".school_nav ul").height() > $(".school_nav").height() && $(this).text() == "更多") {
                    $(this).addClass("fold-active").text("收起");
                    $(this).parent().animate({height: "2.1rem"}, 500);
                } else {
                    $(this).removeClass("fold-active").text("更多");
                    $(this).parent().animate({height: "0.8rem"});
                }
            });
        }

    });
</script>
</div>
</div>

<!--底部悬浮3个按钮-->
    <div class="footer-tools-new">
    <ul>
        <li>
            <a id="showcomment">
                <img src="//m.ieduchina.com/statics/m/images/icon1.png" >
                <p>发布评论</p>
            </a>
        </li>
        <li class="nottanxiao">
            <a href="https://work.weixin.qq.com/kfid/kfcaa6e1058567f1ac1">
                <img src="//m.ieduchina.com/statics/m/images/icon2.png" >
                <p>在线咨询</p>
            </a>
        </li>
        <li>
            <a href="tel:4009008516">
                <img src="//m.ieduchina.com/statics/m/images/icon3.png" >
                <p>电话咨询</p>
            </a>
        </li>
        <li>
            <a href="//m.ieduchina.com/xuexi/index.html?tgfrom=guanwang">
                <img src="//m.ieduchina.com/statics/m/images/icon4.png" >
                <p>入学考试</p>
            </a>
        </li>
    </ul>
    </div>
<script type="text/javascript">
    (function(){
        var ua = navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i)!="micromessenger") {
            $(".footer-tools-new ul li").show();
            $(".footer-tools-new").show();

			if($(".footer-tools").length){
					$(".footernav").css('padding-bottom', $(".footer-tools").height() );
				  }else if($(".footer-tools-new").length){
					$(".footernav").css('padding-bottom', $(".footer-tools-new").height());
			}
            $(".footer-tools").show();
            $(".search-results").css("min-height","calc(100vh - 6.72rem)")
        }
    })();
</script>
</body>
</html>