<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="applicable-device" content="mobile">
    <meta http-equiv="Content-Security-Policy" content="form-action 'self' *.ieduchina.com;">
    <link href="//m.ieduchina.com/favicon.ico" rel="Shortcut Icon" />
    <link rel="stylesheet" href="//m.ieduchina.com/statics/css/swiper.min.css">
    <link rel="stylesheet" href="//m.ieduchina.com/statics/m/css/main.css">
    <link rel="stylesheet" href="//m.ieduchina.com/statics/m/css/university.css" />
    <script type="text/javascript" src="//m.ieduchina.com/statics/js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="//m.ieduchina.com/statics/js/fastclick.js"></script>
    <script type="text/javascript" src="//m.ieduchina.com/statics/m/js/main.js"></script>
    <link rel="stylesheet" href="//m.ieduchina.com/statics/m/css/school_apply.css" />
    <title>国际教育网</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="//m.ieduchina.com/statics/m/css/activity.css">
    <link rel="stylesheet" href="//m.ieduchina.com/statics/w/css/common.css">
    <script type="text/javascript" src="//m.ieduchina.com/statics/w/js/common.js"></script>
    <link rel="stylesheet" href="//m.ieduchina.com/statics/users/css/oldfooter.css">
    <link rel="stylesheet" href="//m.ieduchina.com/statics/users/css/oldheader.css">
    <!--苹果手机-->
    <meta property="og:description" content="" />
    <link rel="apple-touch-icon" href="https://m.ieduchina.com/statics/images/c14def69.jpg">

    <script type="text/javascript" src="//m.ieduchina.com/statics/w/js/tgFrom.js"></script>
    <script type="text/javascript">
        if (!/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            window.location.href = "//www.ieduchina.com/search/index.html";
        }
    </script>
</head>

<body>
    <img src="https://m.ieduchina.com/statics/images/c14def69.jpg" width="0" height="0" style="display:none;">
    <header class="headernav">
        <div id="wap_ad_top">
            <script type="text/javascript">
                adCommon('wap_ad_top');
            </script>
        </div>
        <div class="header">
            <div class="left" id="menu">
                <img src="//m.ieduchina.com/statics/users/images/menu.png" alt="">
            </div>
            <a class="logo" href="//m.ieduchina.com"><img src="//m.ieduchina.com/statics/w/img/logol.png?t=2022"
                    alt="国际教育网"></a>
            <a class="search" href="//m.ieduchina.com/search/">
                <img src="//m.ieduchina.com/statics/users/images/search.png" alt="">
            </a>
            <a class="right" href="//m.ieduchina.com/login.html" id="adLogin">
                <img src="//m.ieduchina.com/statics/users/images/nouser.png" alt="">
            </a>
            <a class="s2hk" style="font-size:0.28rem;margin-left: 0.4rem;color: #035297;margin-top: 0.02rem;">繁体</a>
        </div>
        <div class="topmenu">
            <ul>
                <li class="active"><a href="//m.ieduchina.com">首页</a></li>
                <li><a href="//schoollist.m.ieduchina.com/">学校</a></li>
                <li><a href="//m.ieduchina.com/topic/ruxue/">升学</a></li>
                <li><a href="//m.ieduchina.com/topic/abroad/">留学</a></li>
                <li><a href="//m.ieduchina.com/graduate/index.html">家长进修</a></li>
                <li><a href="//m.ieduchina.com/xuexi/index.html">学习资源</a></li>
            </ul>
        </div>
        <div class="index-menu-wrap">
            <div class="index-menu">
                <div class="title">
                    全部频道
                    <div class="close-menu"></div>
                </div>
                <h2>资讯</h2>
                <ul>
                    <li><a href="//m.ieduchina.com/school/">校园资讯</a></li>
                    <li><a href="//m.ieduchina.com/parents/">家庭教育</a></li>
                    <li><a href="//m.ieduchina.com/training/">升学资讯</a></li>
                    <li><a href="//m.ieduchina.com/abroad/">留学资讯</a></li>
                    <li><a href="//m.ieduchina.com/immigration/">移民资讯</a></li>
                </ul>

                <h2>投稿</h2>
                <ul>
                    <li><a href="//m.ieduchina.com/login.html">发布微头条</a></li>
                </ul>

                <h2>学校</h2>
                <ul>
                    <li><a href="//schoollist.m.ieduchina.com/schlist/c2/">国际学校</a></li>
                    <li><a href="//schoollist.m.ieduchina.com/schlist/c1/">海外学校</a></li>
                </ul>
                <h2>活动</h2>
                <ul>
                    <li><a href="//m.ieduchina.com/huodong/">全部活动</a></li>
                    <li><a href="//m.ieduchina.com/huodong/?type=9">家长学院</a></li>
                    <li><a href="//m.ieduchina.com/huodong/?type=1">开放日</a></li>
                    <li><a href="//m.ieduchina.com/huodong/?type=2">冬/夏令营</a></li>
                    <li><a href="//m.ieduchina.com/huodong/?type=3">培训</a></li>
                    <li><a href="//m.ieduchina.com/huodong/?type=4">教育展</a></li>
                    <li><a href="//m.ieduchina.com/huodong/?type=5">直播</a></li>
                </ul>
            </div>
        </div>
    </header>
    <link rel="stylesheet" href="//m.ieduchina.com/statics/m/css/searchindex.css">
    <style>
        .bgGrayCC {
            padding-bottom: 1.6rem;
        }

        .search_bar {
            position: relative;
            background: #fff;
        }

        body {
            min-height: initial;
        }
    </style>
    <nav class="search_bar">
        <div class="search_content">
            <form action="/search/?type=1" method="get" id="formsearch" style="width:calc(100% - 0.9rem)">
                <input type="text" name="searchkey" placeholder="请输入关键字" value="">
                <span class="searchSub" onclick="submitform()"></span>
            </form>
            <a class="back_home" href="//m.ieduchina.com">取消</a>
        </div>
    </nav>
    <%=require(`./components/hot/index.ejs`)()%>
    <div class="masks mask-form">
        <div class="mask-box">
            <h4>填写申请信息</h4><span class="close"><img src="//m.ieduchina.com/statics/m/images/f5e7cd50.png"
                    alt="close"></span>
            <form action=""><input type="text" name="name" placeholder="请输入您的姓名" nullmsg="请输入您的姓名">
                <div class="select"><select name="province" id="provinceid" nullmsg="请选择孩子就读省份"></select></div>
                <div class="select"><select name="city" id="cityid" nullmsg="请选择孩子就读城市"></select></div>
                <div class="select"><select name="grade" nullmsg="请选择孩子在读年级">
                        <option value="" style="display: none" selected="">孩子就读年级</option>
                        <option value="幼儿园">幼儿园</option>
                        <option value="一年级">一年级</option>
                        <option value="二年级">二年级</option>
                        <option value="三年级">三年级</option>
                        <option value="四年级">四年级</option>
                        <option value="五年级">五年级</option>
                        <option value="六年级">六年级</option>
                        <option value="七年级">七年级</option>
                        <option value="八年级">八年级</option>
                        <option value="九年级">九年级</option>
                        <option value="十年级">十年级</option>
                        <option value="十一年级">十一年级</option>
                        <option value="十二年级">十二年级</option>
                        <option value="大一">大一</option>
                        <option value="大二">大二</option>
                        <option value="大三">大三</option>
                        <option value="大四">大四</option>
                        <option value="其他">其他</option>
                    </select></div>
                <input type="text" name="mobile" placeholder="请输入您的手机号" maxlength="11" nullmsg="请输入您的手机号" datatype="m"
                    errormsg="手机号格式不正确">
                <input type="hidden" name="collegeid" value="">
                <input type="hidden" name="want_school" value="">
                <input type="hidden" name="mark" value="国际教育网WAP版">
                <input type="submit" class="yy" value="提交">
            </form>
        </div>
    </div>
    <script>
        function submitform() {
            $('#formsearch').submit();
        }
    </script>

    <script src="//m.ieduchina.com/statics/m/js/layer.js"></script>
    <script src="//m.ieduchina.com/statics/school/js/city.js"></script>
    <script src="//m.ieduchina.com/statics/m/js/searchindex.js"></script>
    <footer class="footernav">
        <div class="top">
            <div class="tel">
                服务热线
                <a href="tel:4009008515">400-900-8516</a>
            </div>
            <div class="time">
                周一至周日 8:00~21:00
            </div>
        </div>
        <div class="bottom">
            <div class="list">
                <a href="//m.ieduchina.com/service/aboutus.html">关于我们</a>
                <a href="//m.ieduchina.com/service/joinus.html">加入我们</a>
                <a href="//m.ieduchina.com/service/contribution.html">发布文章</a>
                <a href="//m.ieduchina.com/report.html">意见反馈</a>
            </div>
            <p>Copyright@<label id="siteyear">2022</label>,国际教育网 版权所有</p>
            <p>
                <a>粤ICP备2021064228号-2</a>
                &
                <a>粤公网安备44030502002588号</a>
            </p>
        </div>
    </footer>

    <script src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script src="https://m.ieduchina.com/topic/weixinShare.js?t=2024"></script>
    <script src="//m.ieduchina.com/statics/js/jquery-1.8.0.min.js"></script>
    <script src="//m.ieduchina.com/statics/js/s2hk.js?t=9d16f9ds"></script>
    <script>
        function lookMore(p) {
            window.location.href = p;
        }
        function lookAjaxMore(p) {
            var url = $(p).attr('data-href');
            var page = $(p).attr('data-page');
            console.log(url);
            $.post(url, { page: page },
                function (result) {
                    $(p).attr('data-page', result.page);
                    if (result.showHtml) {
                        $(p).siblings(".news_list").children('ul').append(result.showHtml);
                    } else {
                        $(p).html('加载完毕');
                    }
                }, 'json');
        }



        function lookSceneMore(p) {
            var url = $(p).attr('data-href');
            var page = $(p).attr('data-page');
            $.post(url, { page: page },
                function (result) {
                    $(p).attr('data-page', result.page);
                    if (result.showHtml) {
                        $(p).parent('.pic_item').children('div').append(result.showHtml);
                    } else {
                        $(p).html('加载完毕');
                    }
                }, 'json');
        }


        function submitform() {
            $('#formsearch').submit();
        }

        //关注-收藏
        $(function () {
            var guanzhu = $("#attention-btn").length;
            if (guanzhu) {
                var val = $("#attention-btn").attr('name');
                guanzhu_first(val);
            }
            var collect = $("#collect").length;
            if (collect) {
                var val = $("#collect").attr('name');
                collect_first(val);
            }

            //日期
            var d = new Date();
            var siteyear = d.getFullYear();
            $("#siteyear").html(siteyear);

            if ($(".school_nav").height() > 50 && $(".fold_nav").length == 0) {
                $(".school_nav").css({ "height": "auto" })
            }

            //更多
            if ($(".fold_nav").length > 0) {
                $(".fold_nav").on("click", function () {
                    if ($(".school_nav ul").height() > $(".school_nav").height() && $(this).text() == "更多") {
                        $(this).addClass("fold-active").text("收起");
                        $(this).parent().animate({ height: "2.1rem" }, 500);
                    } else {
                        $(this).removeClass("fold-active").text("更多");
                        $(this).parent().animate({ height: "0.8rem" });
                    }
                });
            }

        });
    </script>
    </div>
    </div>

    <!--底部悬浮3个按钮-->
    <div class="footer-tools">
        <a href="https://work.weixin.qq.com/kfid/kfcaa6e1058567f1ac1">在线咨询</a>
        <a href="tel:4009008516">电话咨询</a>
        <a href="//m.ieduchina.com/xuexi/index.html?tgfrom=guanwang">入学测评</a>
    </div>
    <script type="text/javascript">
        (function () {
            var ua = navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) != "micromessenger") {
                $(".footer-tools-new ul li").show();
                $(".footer-tools-new").show();

                if ($(".footer-tools").length) {
                    $(".footernav").css('padding-bottom', $(".footer-tools").height());
                } else if ($(".footer-tools-new").length) {
                    $(".footernav").css('padding-bottom', $(".footer-tools-new").height());
                }
                $(".footer-tools").show();
                $(".search-results").css("min-height", "calc(100vh - 6.72rem)")
            }
        })();
    </script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?0a897a8917a0c084ade3b6dd8b0a9e32";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>

</html>