<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Content-Security-Policy" content="form-action 'self' *.ieduchina.com;">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>国际教育网升学中心</title>
    <link rel="shortcut icon" type="image/x-icon" href="//m.ieduchina.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://zhaosheng.ieduchina.com/Public/paike/css/index1.css?t=111">
    <link rel="stylesheet" type="text/css"
        href="https://zhaosheng.ieduchina.com/Public/paike/css/index2.css?t=11120250527">

    <script>
        ! function () {
            var t = document.documentElement.clientWidth,
                e = document.createElement("style");
            /Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent) ? e.innerHTML = "html{font-size: " + t / 16 + "px !important;}" : e.innerHTML = "html{font-size: 46.875px !important;width:750px;margin:0 auto;}", document.head.appendChild(e)
        }()
    </script>
</head>

<body>
    <section class="index-content">
        <div class="top">
            <div class="user">
                <div class="avtar"></div>
                <h3>测试</h3>
                <div class="menu-btn">
                    选择孩子
                </div>
            </div>
            <div class="jz">
                <p class="name">
                    <span>学习进度</span>
                    <span>剩余 <a></a> 节课</span>
                </p>
                <p class="jzt"><span style="width:10%"></span></p>
                <p class="num">
                    <span>总课时：</span>
                    <span>已上课时：</span>
                    <span>待上课时：<a>0</a></span>
                </p>
                <p class="num">
                    <span>正式课：</span>
                    <span>
                    </span>
                </p>
                <p class="tip">
                    如有任何问题，请联系老师
                    <a href="tel:"><span></span></a>
                </p>
            </div>
        </div>
        <div class="list-wrap">
            <div class="menu">
                <a class="active" href="/open/pk/lists.html?type=6">最近二周</a>
                <a href="/open/pk/lists.html?type=1">本月</a>
                <a href="/open/pk/lists.html?type=2">已上课</a>
                <a href="/open/pk/activity.html?keshi=1">活动</a>
            </div>


            <div class="wrap2">
                <aside>
                    <table>
                        <tr>
                            <td>
                                <p>26</p><span>周一</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>27</p><span>周二</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>28</p><span>周三</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>29</p><span>周四</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>30</p><span>周五</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>31</p><span>周六</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>1</p><span>周日</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>2</p><span>周一</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>3</p><span>周二</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>4</p><span>周三</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>5</p><span>周四</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>6</p><span>周五</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>7</p><span>周六</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>8</p><span>周日</span>
                            </td>
                        </tr>
                    </table>
                </aside>
                <main>
                    <table>
                    </table>
                </main>
            </div>

        </div>
    </section>
    <footer>
        <p class="gray">Copyright © 2025 国际教育网 版权所有</p>
    </footer>
    <div class="menu-4205a488">
        <ul>
            <li><a href="">姜思亮</a></li>
            <li class="active"><a href="">刘三木</a></li>
            <li><a href="">周雪瑶</a></li>
            <li><a href="">汤晶莹</a></li>
            <li><a href="">邬伟洋</a></li>
            <li><a href="">邬伟洋</a></li>
        </ul>
    </div>

    <input type="hidden" id="type" value="6" />
    <input type="hidden" id="arr_str1" value="" />
    <script src="https://zhaosheng.ieduchina.com/Public/paike/js/jquery.js"></script>
    <script src="https://zhaosheng.ieduchina.com/Public/paike/js/layer.js?t=111"></script>
    <script src="https://zhaosheng.ieduchina.com/Public/paike/js/index_open.js?t=111"></script>
</body>

</html>