<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="telephone=no" name="format-detection">
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="applicable-device" content="mobile" />
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Content-Security-Policy" content="form-action 'self' *.ieduchina.com;">
	<link rel="stylesheet" href="//m.ieduchina.com/statics/semgn/css/base.css">
	<link rel="stylesheet" href="//m.ieduchina.com/statics/semgn/css/swiper.min.css">
	<link rel="stylesheet" href="//m.ieduchina.com/statics/semgn/css/main.css">
	<link rel="shortcut icon" type="image/x-icon" href="//www.ieduchina.com/favicon.ico" />
	<title>深圳国际交流书院_怎么样_学费-国际教育网</title>
	<meta name="keywords" content="深圳国际交流书院" />
	<meta name="description"
		content="深圳国际交流书院(原名深圳国际交流学院)，2003年经深圳市教育局批准成立，简称&ldquo;深国交&rdquo;或SCIE。 让学生在挑战性的国际教育环境中，实现学术成果最大化，同时培养出他们的社会责任">
	<!--苹果手机-->
	<meta property="og:description"
		content="深圳国际交流书院(原名深圳国际交流学院)，2003年经深圳市教育局批准成立，简称&ldquo;深国交&rdquo;或SCIE。 让学生在挑战性的国际教育环境中，实现学术成果最大化，同时培养出他们的社会责任" />
	<link rel="apple-touch-icon" href="https://www.ieduchina.com/uploadfile/college/201706/1496830251.jpg">
	<script type="text/javascript" src="//m.ieduchina.com/statics/semgn/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="//m.ieduchina.com/statics/semgn/js/fastclick.js"></script>
	<script type="text/javascript" src="//m.ieduchina.com/statics/semgn/js/size.js"></script>
	<script src="//m.ieduchina.com/statics/semgn/js/swiper.min.js"></script>
	<script src='//m.ieduchina.com/statics/semgn/js/bscroll1.js'></script>
	<script type="text/javascript" src="//m.ieduchina.com/statics/w/js/tgFrom.js"></script>
	<script type="text/javascript">
		if (!(/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
			// window.location.href = "//schoollist.ieduchina.com/school/szcie/";
		}
	</script>
</head>

<body style="background-color: #F0F2F5;">
	<img src="https://www.ieduchina.com/uploadfile/college/201706/1496830251.jpg" width="0" height="0"
		style="display:none;">
	<%=require(`./components/header/index.ejs`)()%>
		<div id="main">
			<div>
				<link rel="stylesheet"
					href="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.4/tcplayer.min.css">
				<!--轮播 开始 最多显示2张幻灯图-->
				<div class="swiper-container index_banner">
					<div class="swiper-wrapper">
						<div class="swiper-slide" style="height: 4.26rem">
							<a href=""
								style=" display: block; width: 100%; height: 100%;background: url(https://www.ieduchina.com/uploadfile/college/202106/111623125098.jpg) no-repeat center center; background-size:100% 100%;"></a>
						</div>
					</div>
				</div>
				<!--轮播 结束-->

				<section class="school-intro">
					<h1 class="m-box-title" style="text-align: left;margin-bottom:.64rem;">深圳国际交流书院</h1>
					<div class="intro_text">
						深圳国际交流书院(原名深圳国际交流学院)，2003年经深圳市教育局批准成立，简称&ldquo;深国交&rdquo;或SCIE。
						让学生在挑战性的国际教育环境中，实现学术成果最大化，同时培养出他们的社会责任感、创造力、主动性和热忱之心，助其在未来岁月里把握各种机会。
						深国交是剑桥国际考评部和爱德思国家学历与学术考试机构授权的全日制国际高中。目前深国交开设49门国际高中课程，包括剑桥大学国际考评部和爱德思国家学历与学术考试机构的IGCSE和A
						Level国际高中课程，以及少量美国AP(大学先修)课程，涵盖语言、科学、数学...<a
							href='//schoollist.m.ieduchina.com/school/szcie/about.html' class='ckxq' rel='nofollow'>查看详情
							></a> </div>

					<div class="school_intro_li">
						<span class='sp1'>英文名称：</span>
						<span class='sp2'>Shenzhen College Of International Education</span>
					</div>
					<div class="school_intro_li">
						<span class='sp1'>成立时间：</span>
						<span class='sp2'>2003年</span>
					</div>
					<div class="school_intro_li">
						<span class='sp1'>所在地区：</span>
						<span class='sp2'>广东 深圳 福田区</span>
					</div>
					<div class="school_intro_li">
						<span class='sp1'>办学类型：</span>
						<span class='sp2'>民办学校</span>
					</div>
					<div class="school_intro_li">
						<span class='sp1'>开设年级：</span>
						<span class='sp2'>高中</span>
					</div>
					<div class="school_intro_li">
						<span class='sp1'>留学国家：</span>
						<span class='sp2'>美国 、英国 、澳大利亚 、加拿大</span>
					</div>
					<div class="school_intro_li">
						<span class='sp1'>学费区间：</span>
						<span class='sp2'>27.3-30.3万/年</span>
					</div>
					<div class="school_intro_li">
						<span class='sp1'>是否住宿：</span>
						<span class='sp2'>是</span>
					</div>
					<div class="school_intro_li">
						<span class='sp1'>身份(国籍)：</span>
						<span class='sp2'>不限 </span>
					</div>
					<div class="school_intro_li">
						<span class='sp1'>课程体系：</span>
						<span class='sp2'>AP,Alevel,IGCSE,国际艺术</span>
					</div>

				</section>
				<%=require(`./components/silde-menu/index.ejs`)()%>

					<!-- 招生报名入口 -->
					<section class="m-top">
						<div class="list_wrap form_wrap" id="forms">
							<h3>2025招生报名登记</h3>
							<p class="miao">信息填入后招生老师会尽快与您联系</p>
							<form action="" id="apply">
								<select id="province" name="provinve"></select>
								<select id="city" name="city"></select>
								<select id="cmbArea" name="cmbArea" style="display:none"></select>
								<input type="text" id="name" placeholder="孩子中文姓名">
								<select id="grade" name="grade">
									<option value="0">就读年级</option>
									<option value="幼儿园">幼儿园</option>
									<option value="一年级">一年级</option>
									<option value="二年级">二年级</option>
									<option value="三年级">三年级</option>
									<option value="四年级">四年级</option>
									<option value="五年级">五年级</option>
									<option value="六年级">六年级</option>
									<option value="七年级">七年级</option>
									<option value="八年级">八年级</option>
									<option value="九年级">九年级</option>
									<option value="十年级">十年级</option>
									<option value="十一年级">十一年级</option>
									<option value="十二年级">十二年级</option>
									<option value="大一">大一</option>
									<option value="大二">大二</option>
									<option value="大三">大三</option>
									<option value="大四">大四</option>
									<option value="已毕业">已毕业</option>
								</select>
								<input type="hidden" id="flags" value="get_tel" />
								<input type="text" id="mobile" placeholder="手机号码">
								<input type="hidden" value="国际教育网院校库WAP版_获取学校联系方式" name="mark" id="mark" />
								<p class="err">请选择</p><a href="javascript:;" id="form_btn">立即报名</a>
							</form>
						</div>
					</section>

					<!-- 弹窗回调 -->
					<div id="func" style="display:none;position: fixed;top:50%;left: 50%;transform: translate(-50%,-50%);
	padding:.5rem 1rem;background:rgba(0,0,0,0.5);color:#fff;font-size:.64rem;border-radius: 5px;z-index:1111;
	">
					</div>

					<!-- 校园风采 -->
					<section class="mien m-top">
						<div class="list_wrap">
							<div class="list_title">
								<div class="line"></div>
								<span>校园风采</span>
							</div>
						</div>

						<div class="mien_list_wrap">
							<ul class="mien_list">
								<li><img src="https://www.ieduchina.com/uploadfile/college/202110/1635232226.jpg"
										alt="校园夜景">
									<p>校园夜景</p>
								</li>
								<li><img src="https://www.ieduchina.com/uploadfile/college/202110/1635232207.jpg"
										alt="艺术教室">
									<p>艺术教室</p>
								</li>
								<li><img src="https://www.ieduchina.com/uploadfile/college/202110/1635232188.jpg"
										alt="图书馆">
									<p>图书馆</p>
								</li>
								<li><img src="https://www.ieduchina.com/uploadfile/college/202110/1635232172.jpg"
										alt="校内风光">
									<p>校内风光</p>
								</li>
								<li><img src="https://www.ieduchina.com/uploadfile/college/202110/1635231974.jpg"
										alt="深圳国际交流学院">
									<p>深圳国际交流学院</p>
								</li>
								<li><img src="https://www.ieduchina.com/uploadfile/college/202110/1635231997.jpg"
										alt="篮球训练场">
									<p>篮球训练场</p>
								</li>
								<li><img src="https://www.ieduchina.com/uploadfile/college/202110/1635232017.jpg"
										alt="健身房">
									<p>健身房</p>
								</li>
							</ul>
						</div>

					</section>
					<!-- 弹窗大图 -->
					<div class="big_mien_list_wrap">
						<div class="swiper-container big_mien">
							<ul class="swiper-wrapper big_mien_list">
								<li class="swiper-slide"><img
										src="https://www.ieduchina.com/uploadfile/college/202110/1635232226.jpg"
										alt="校园夜景">
									<p>校园夜景</p>
								</li>
								<li class="swiper-slide"><img
										src="https://www.ieduchina.com/uploadfile/college/202110/1635232207.jpg"
										alt="艺术教室">
									<p>艺术教室</p>
								</li>
								<li class="swiper-slide"><img
										src="https://www.ieduchina.com/uploadfile/college/202110/1635232188.jpg"
										alt="图书馆">
									<p>图书馆</p>
								</li>
								<li class="swiper-slide"><img
										src="https://www.ieduchina.com/uploadfile/college/202110/1635232172.jpg"
										alt="校内风光">
									<p>校内风光</p>
								</li>
								<li class="swiper-slide"><img
										src="https://www.ieduchina.com/uploadfile/college/202110/1635231974.jpg"
										alt="深圳国际交流学院">
									<p>深圳国际交流学院</p>
								</li>
								<li class="swiper-slide"><img
										src="https://www.ieduchina.com/uploadfile/college/202110/1635231997.jpg"
										alt="篮球训练场">
									<p>篮球训练场</p>
								</li>
								<li class="swiper-slide"><img
										src="https://www.ieduchina.com/uploadfile/college/202110/1635232017.jpg"
										alt="健身房">
									<p>健身房</p>
								</li>
							</ul>
							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
						</div>
					</div>

					<div id="sem_wap_ad">
						<script type="text/javascript">adCommon('sem_wap_ad');</script>
					</div>

					<!-- 最新动态 -->
					<section class="new_recent m-top">
						<div class="list_wrap">
							<div class="list_title">
								<div class="line"></div>
								<span>最新动态</span>
							</div>
							<div class="new_recent_main">


								<div class="text_block"><a
										href="//m.ieduchina.com/shenzhen/education/202503/125390.html">深国交
										3.16倒计时：DeepSeek+真题狂刷硬核冲刺！</a></div>
								<div class="text_block"><a
										href="//m.ieduchina.com/school/education/202502/124982.html">入学最佳时机！深国交/贝赛思/清澜山...热门国际学校入学考试时间出炉！</a>
								</div>
								<div class="text_block"><a
										href="//m.ieduchina.com/school/education/202502/124500.html">2025年牛剑大结局！上海光华剑桥明年有望继续赶超深国交吗？</a>
								</div>
								<div class="text_block"><a
										href="//m.ieduchina.com/school/education/202502/124469.html">满天繁星还在！深国交重回榜首地位！2025年剑桥大学早申录取完整榜单！</a>
								</div>
								<div class="text_block"><a
										href="//m.ieduchina.com/school/education/202501/124415.html">深国交对手+1！深圳再添一所英系国际高中，今年9月开学！</a>
								</div>
								<a href="//schoollist.m.ieduchina.com/school/szcie/news/index.html"
									class="new_recent_ckgd">查看更多>></a>
							</div>
						</div>
					</section>

					<!-- 学校小、初、高中部概况 -->
					<section class="general m-top">
						<div class="list_wrap">
							<div class="list_title">
								<div class="line"></div>
								<span>招生国际高中学段</span>
							</div>
							<div class="general_main">
								<div class="textAndImgBlock">
									<div class="fl">
										<a href="//schoollist.m.ieduchina.com/school/szcie/high.html">
											<img src="https://www.ieduchina.com/uploadfile/college/201901/1548312130.jpg"
												alt="深圳国际交流书院" />
										</a>
									</div>
									<div class="fr text_wrap"><a
											href="//schoollist.m.ieduchina.com/school/szcie/high.html">
											<h3>国际高中</h3>
											<p>入学要求：通过入学考试</p>
											<p>班级规模：不超过26人</p>
											<p>授课形式：小班教学</p>
										</a>
										<a href="#forms" class="yytx">预约探校</a>
									</div>
								</div>
							</div>
						</div>
					</section>

					<!-- 课程设置 -->
					<section class="provision m-top">
						<div class="list_wrap">
							<div class="list_title">
								<div class="line"></div>
								<span>课程设置</span>
							</div>
							<div class="provision_main">
								<div class="textAndImgBlock">
									<div class="fl">
										<a href="//schoollist.m.ieduchina.com/school/szcie/course/517.html"><img
												src="https://www.ieduchina.com/uploadfile/college/201901/1548312608.jpg"
												alt="IGCSE课程、A Level课程、AP课程"></a>
									</div>
									<div class="fr text_wrap">
										<a href="//schoollist.m.ieduchina.com/school/szcie/course/517.html">
											<h3>IGCSE课程、A Level课程、AP课程</h3>
											<p>招生对象：14-18岁</p>
											<p>学习模式：小班教学</p>
											<p>对口国家：以英语为母语的国家</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					</section>


					<!-- 教师团队 -->
					<section class="teachers m-top">
						<div class="list_wrap" style="padding-left: 0;">
							<div class="list_title" style="padding-left: 0.64rem;">
								<div class="line"></div>
								<span>师资团队</span>
								<div class="all"><a
										href="//schoollist.m.ieduchina.com/school/szcie/teacher.html">更多></a>
								</div>
							</div>
							<div class="teachers_main swiper-container">
								<ul class="swiper-wrapper" style="padding-bottom:5px;">

									<li class="swiper-slide">
										<img src="https://www.ieduchina.com/uploadfile/college/202110/1635233149.jpg"
											alt="Neil Mobsby，院长">
										<div class="teacher_name">
											<h3>Neil Mobsby，院长</h3>
										</div>
										<p>英国坎特伯雷基督教会大学 教育学硕士学位（数学方向)，英国艾克塞特大学 纯数学和应用数学学士学位。Neil
											Mobsby先生有超过25年的教育工作经验，曾在中东、非洲和中国的多家国际学校及英国的学校工作。具有丰富的管理和教学经验。他于2009年加入深国交担任数学教师。2018年8月起担任执行院长，此前为学院教学副院长。
										</p>
									</li>
								</ul>
								<div class="swiper-pagination"></div>
							</div>
						</div>
					</section>

					<!-- 优秀毕业生 -->

					<section class="m-top question">
						<div class="list_wrap">
							<div class="list_title">
								<div class="line"></div><span>深圳国际交流书院常见问题</span>
							</div>
							<div class="question_main">
								<ul>
									<li>
										<h5>被录取后原来的学籍怎么办?没有学籍会不会对今后的申报大学带来影响？</h5>
										<p>目前来说，被我校录取后学生将学籍保留在原学校即可。深国交学生申请大学时凭国际考试成绩直接申请，回国后到指定机构认证学历证书。</p>
									</li>
									<li>
										<h5>深国交优势在哪里？</h5>
										<p>一、纯国际化办学。我校拥有独立的校园，不依附于其他办学机构，提供纯粹的国际教育，全英文教学，真正直通英美等名牌大学。二、稳定的教师队伍。我校拥有强大的教师队伍，专职授课教师人数200多名，外教比例约70%，都是具有多年教学经验的资深教师。三、优质生源。每年通过入学考试、面试严格筛选，学生学习基础与综合能力非常强，学习风气好。四、辉煌的业绩。十几届毕业生，三千多位校友已经求学于英美名牌大学。鉴于以往骄人的教学成果，很多优秀毕业生入读世界名校带来的影响力，我校在国外大学的知名度与日俱增，为我校学生申请大学争取到了很好的“印象分”。
										</p>
									</li>
									<li>
										<h5>对香港感兴趣的学生和家长很多，能介绍下贵校申请香港地区大学的情况吗？</h5>
										<p>我校每年都有一部分同学申请香港地区的大学，集中在香港前三的大学。由于是作为国际生申请，Alevel这个体系也很受香港的大学的认可，所以申请难度比国内高中参加高考的学生小一些。
										</p>
									</li>
									<li>
										<h5>外地考生报考贵院，对学籍、户籍有无限制？</h5>
										<p>因为我们是国际高中，对学籍、户籍没有限制，面向全国包括港澳台的学生。</p>
									</li>
									<li>
										<h5>学校采取什么样的教学方式呢?</h5>
										<p>为保证教学质量，我们采取的是东西融合的教学方式，引进小班制、讨论式的授课模式，特别注重于学生的实际能力的培养。担任A
											level课程授课的外教都是经过剑桥大学审核培训并有多年教学经验的合格教师，中教也多数都是这个领域最早一批经过剑桥大学培训并能用全英文授课的资深教师。上课的形式也是多种多样的。比如音乐课，除了本校的音乐老师，我们还不时地聘请一些知名的音乐家来做现场指导;生物课也是走出课堂甚至走出深圳，在附近的各大公园、旅游景区，比如红树林、各地野生动物园、香港的植物园和湿地公园都可以看到我们师生的身影。
										</p>
									</li>
								</ul>
							</div>
						</div>
					</section>

					<script src="https://cloudcache.tencentcs.com/qcloud/video/dist/tcadapter.1.0.0.min.js"></script>
					<script
						src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.4/libs/TXLivePlayer-1.2.3.min.js"></script>
					<script
						src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.4/libs/hls.min.1.1.5.js"></script>
					<script
						src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.4/libs/flv.min.1.6.3.js"></script>
					<script
						src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.4/libs/dash.all.min.4.4.1.js"></script>
					<script
						src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.4/tcplayer.v4.5.4.min.js"></script>
					<script type="text/javascript" src='//m.ieduchina.com/statics/semgn/js/index.js'></script>
					<script>
						if ($("#player-container-id").length) {
							$("#player-container-id").css({ width: $(".question_main").find("li").width() })
							var player = TCPlayer('player-container-id', {});
							player.src("https://1313547163.vod2.myqcloud.com/62c522c4vodcq1313547163/57fab1a91397757898380969953/lNA0XoHRNsMA.mp4");
						}
					</script>
					<link rel="stylesheet" href="//m.ieduchina.com/statics/users/css/footer.css">
					<footer class="footernav">
						<div class="top">
							<div class="tel">
								服务热线
								<a href="tel:4009008515">400-900-8516</a>
							</div>
							<div class="time">
								周一至周日 8:00~21:00
							</div>
						</div>
						<div class="bottom">
							<div class="list">
								<a href="//m.ieduchina.com/service/aboutus.html">关于我们</a>
								<a href="//m.ieduchina.com/service/joinus.html">加入我们</a>
								<a href="//m.ieduchina.com/service/contribution.html">发布文章</a>
								<a href="//m.ieduchina.com/report.html">意见反馈</a>
							</div>
							<p>Copyright@<label id="siteyear">2025</label>,国际教育网 版权所有</p>
							<p>
								<a>粤ICP备2021064228号-2</a>
								&
								<a>粤公网安备44030502002588号</a>
							</p>
						</div>
					</footer>
			</div>

			<div class="footer_nav">
				<a href="https://work.weixin.qq.com/kfid/kfcaa6e1058567f1ac1">在线咨询</a>
				<a href="tel:400-900-8516">电话咨询</a>
				<a href="//m.ieduchina.com/ceping/">测测入学率</a>
			</div>

			<input type="hidden" id="collegeid" value="45" />
			<script type="text/javascript" src="//m.ieduchina.com/statics/semgn/js/city.js"></script>
			<!-- <script type="text/javascript" src="//m.ieduchina.com/statics/semgn/js/main.js"></script> -->
			<script type="text/javascript" src="//m.ieduchina.com/statics/semgn/js/sub.js"></script>
			<script src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
			<!-- <script type="text/javascript">
				var ShareLink = window.location.href; //默认分享链接
				var ShareImgUrl = "https://www.ieduchina.com/uploadfile/college/201706/1496830251.jpg"; // 分享图标
				var ShareTitle = "深圳国际交流书院";//分享标题
				var ShareDesc = "深圳国际交流学院是2003年经深圳市教育局批准成立，成为深圳首家经英国剑桥大学考试院(CIE)正式授权的全日制国际高中。十三年来，学院专注于发";//分享描述
				var ajaxurl = "/index.php?m=content&c=ajax&a=get_weixin_sign&t=1747731393";
				var url = location.href.split('#')[0];

				$.ajax({
					type: "post",
					url: ajaxurl,
					data: { url: url },
					cache: false,
					async: false,
					dataType: 'json',
					success: function (data) {
						weixinSign = data;
					}
				});
				//console.log(weixinSign);

				// 微信配置
				wx.config({
					debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
					appId: weixinSign.appId, // 必填，公众号的唯一标识
					timestamp: weixinSign.timestamp, // 必填，生成签名的时间戳
					nonceStr: weixinSign.nonceStr, // 必填，生成签名的随机串
					signature: weixinSign.signature,// 必填，签名
					jsApiList: ['updateAppMessageShareData', 'updateTimelineShareData'] // 必填，需要使用的JS接口列表
				});

				wx.checkJsApi({
					jsApiList: ['chooseImage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
					success: function (res) {
						console.log(res);
						// 以键值对的形式返回，可用的api值true，不可用为false
						// 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
					}
				});

				// config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在 页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready 函数中。
				wx.ready(function () {
					console.log("success");
					var shareData = {
						title: ShareTitle,
						desc: ShareDesc,
						link: ShareLink,
						imgUrl: ShareImgUrl
					};

					//自定义“分享给朋友”及“分享到QQ”按钮的分享内容
					wx.updateAppMessageShareData(shareData);
					//自定义“分享到朋友圈”及“分享到QQ空间”按钮的分享内容
					wx.updateTimelineShareData(shareData);

				});
				wx.error(function (res) {
					console.log(res);
				});
			</script> -->
			<!-- <script>
				$(function () {
					var collegeid = $("#collegeid").val();
					$.ajax({
						type: "post",
						url: "/index.php?m=college&c=index&a=counts&collegeid=" + collegeid + "&t=" + Math.random(),
						data: { 'collegeid': collegeid }, success: function (msg) { }
					});
				});

				$(function () {
					var d = new Date();
					var siteyear = d.getFullYear();
					$(".siteyear").html(siteyear);
				});
			</script> -->

			<!-- <script>
				var _hmt = _hmt || [];
				(function () {
					var hm = document.createElement("script");
					hm.src = "https://hm.baidu.com/hm.js?22315adb2f9ad602cccaec63e3fb3757";
					var s = document.getElementsByTagName("script")[0];
					s.parentNode.insertBefore(hm, s);
				})();
			</script> -->
</body>

</html>